@charset "UTF-8";

:root{
	--white-color: whitesmoke;
	--black-color: rgb(74, 74, 74);
	--grey-color: #c0c0c0;
}

body{
	background-color: var(--black-color);
	color: var(--grey-color);
}

header, footer{
	width: 100%;
	height:100px;
	background-color: var(--white-color);
	color: var(--black-color);
}

header .headerBox{
	width:100%;
	background-color: var(--white-color);
	height: 100%;
	display: flex;
	justify-content: center;
}


.container{
	display: flex;
	flex-direction: column;
	min-height:80vh;
	padding-top:10%;
	color: var(--grey-color);
}

text-center{
	text-align: center;
}

.mainWindow{
	width:40%;
	height:100px;
	background-color: var(--black-color);
	border: 1px solid black;
	border-radius: 5px;
}
